<section id="about">
    <div class="firstSection card">
        <h2> About </h2>
        <p>
            Hi, my name is Johnand I'm a <span class="keyword">Software Developer</span>.
        </p>
        <p>
            I enjoy creating responsive websites and mobile applications.
        </p>
        <p>
            I studied Computer Science Enginnering in the <a class="keyword-link" href="https://www.ips.pt/ips_si/web_base.gera_pagina?P_pagina=29906" target="_blank">Polytechnic Institute
    of Setúbal.</a>
        </p>
    </div>
</section>