.job-position{
    font-weight: 700;
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.date{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.05em;
}
.job-desc{
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.job-text{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.05em;
}
@media only screen and (max-width: 600px) {
.job-text{
    font-size: 11px;
}
}

.job-li selected{
    background:#a6ce3b;
}