<div class="firstSection" id="firstSection">
    <h1 class="txt-h1">
        Hi, my name is
    </h1>

    <h2 class="txt-h2">
        JohnDoe.

    </h2>
    <h3 class="txt-h3">
        I'm a <span class="keyword">Software Developer</span>.
    </h3>

    <p>
        I specialize in <span class="keyword">Hybrid Mobile App Development</span> and <span class="keyword">Web Apps.</span>
    </p>

    <a href="mailto:johndoe@gmail.com" target="_blank" rel="nofollow noopener noreferrer" class="contact-btn button1">Get In Touch!</a>
    <img class="webs-img" src="../assets/hybrid.png" />
</div>